<h1><%=
    flash[:notice]

%>
</h1>

<h2><%=
    flash[:data]

%>
</h2>

<p>This is my page and here is the  value of my session  is   <%=  session[:id]   %> </p>

<%= form_for(:user, :url => {:controller => 'users', :action => 'delete'}) do |f| %>
    <%= f.hidden_field :id, :value => session[:id]%>
    <div class="actions">
      <%= f.submit "Delete user" %>
    </div>
<% end %>





